body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.mainSection {
  background-color: #ebebebbb;
}

.card {
  border: 0px;
}

.card img {
  margin-top: 3rem !important;
}

.empty-cart {
  background-color: #ebebebbb;
}

.cart-img {
  width: 30%;
}

.cart-input-text {
  width: 42vh;
}

.card {
  background-color: rgba(247, 247, 247, 0.562);
}
