@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body{
    font-family: sans-serif;
    -webkit-font-smoothing:antialiased;
    color:$dark;
    
}
.mainSection{
    background-color: $secondary;
}

.card{
    border: 0px;
}
.card img{
    margin-top: 3rem!important;
}
.empty-cart{
    background-color:$secondary}
    .cart-img{
        width: 30%;
    }

.cart-input-text{
    width: 42vh;
}
.card{
    background-color: $light-grey;
}

.noty_theme__mint{
    border-radius: 50px !important;
    padding-left: 8px !important;
    text-align: center;
    font-weight: bolder ;
    font-family: 'Times New Roman', Times, serif;
}
#dangerText{
    color: red;
    font-size: 5vh;
    font-family: 'Times New Roman', Times, serif;
}